<div style="display: flex; height: 99vh; flex-direction: column; align-items: center; justify-content: center;">
    <div style="width: 100%; display: flex; align-items: center; justify-content: center;margin-bottom: 2%; ">
    <div class="Titulo" style="width: 95vw; height: 100px; display: flex; justify-content: center; align-items: center; background-color: aliceblue; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; ">
      <h1 style="text-align: center;">Ingreso de promedios</h1>
    </div>
    </div>
    <app-tabla style="display: flex; justify-content: center; align-items: center; width: 100vw;"></app-tabla>

    

</div>